body {
  background: none repeat scroll 0 0 #dedede;
  background: #089de3;
  /*font-family: 'Russo One', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;

}

#content{
  /*width: 100%;*/
  color: white;
  position: fixed;
  top:50%;
  left: 50%;
  /*CSS3 */
  transform: translate(-50%,-50%);
}

#clock{
  font-size: 85px;
}